<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Todo Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="title">
        </div>
      <!--
CREATED BY BISWARUP BHATTACHARJEE
EMAIL    : bbiswa471@gmail.com
PHONE NO : 6290272740
-->
        <div class="form-group">
            <label for="exampleInputPassword1">Todo Description</label>
            <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="desc">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
